{% extends "layout.html" %}  <!-- base template: layout.html-->
    
{% block content %}          <!-- child template for courses.html-->
    <h1>Course Offerings</h1>

    <!--  Display the Term and Year here --->
    <h3>Term: {{ term }}</h3> <!-- term is dynamic data -->

    <div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Course ID</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Credits</th>
                <th scope="col">Term</th>
                <th scope="col">Enroll</th>
            </tr>
            </thead>
            <tbody>

            <!-- Construct the rest of courses here -->
            {% for data in coursesData %}
                <tr>
                    <td scope='row'>{{ data["course_id"] }}</td>
                    <td>{{ data["title"] }}</td>
                    <td>{{ data["description"] }}</td>
                    <td>{{ data["credits"] }}</td>
                    <td>{{ data["term"] }}</td>
                    <td>
                        <form action="{{ url_for('enrollment')}}" method="POST">
                            <input type="hidden" name="course_id" value="{{ data['course_id'] }}">
                            <input type="hidden" name="title" value="{{ data['title'] }}">
                            <input type="hidden" name="term" value="{{ data['term'] }}">
                            <button>Enroll</button>
                        </form>
                        
                    </td>
                </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </div>

{% endblock %}