    {% extends "layout.html" %}
   
    {% block content %}
    <h1>{{ title }}</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">
                    <legend>{{ title }}</legend>
                    <!-- change standard HTML form into WTForm -->
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.email.label }}<br>
                        {{ form.email(size=35) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }}<br>
                        {{ form.password(size=6) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.submit()}} <!-- submit(): function call -->
                    </p>
                </fieldset>
                <!-- standard Html form format fields
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <br>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <br class="clear">
                    <input class="btn-submit" type="submit" name="submit" value="Login">
                -->
                
            </form>
        </div>
    </div>
 {% endblock %}