{% extends "layout.html" %}  <!-- basic template: layout.html-->

{% block content %}  <!-- block content: child template-->
    <div class="row">
        <div class="col-md-12 text-center">
            {% for user in users %}
           <dl>
               <dt>User ID: {{ user.user_id }}</dt>
               <dt>Email: {{ user.email }}</dd>
               <dt>Password: {{ user.password }}</dd>
           </dl>
           {% else %}
                <h3>No users yet</h3>
           {% endfor %}
        </div>
    </div>
{% endblock %}
